{{#*inline "ja-nei-barnenavn"}}
    <td class="ja-nei">
        <h5>{{replace label "{navn}" (upper navn.verdi)}}</h5>
        <p>{{verdi}}</p>
        {{#eq verdi oppfølgingCondition }}
            {{> @partial-block }}
        {{/eq}}
    </td>
{{/inline}}

<h4>Bosted</h4>
{{#table cols=2}}
    {{> ja-nei-barnenavn spørsmål.borFastMedSøker }}
    {{#eq spørsmål.erFosterbarn.verdi "NEI"}}
        {{> ja-nei-barnenavn spørsmål.skriftligAvtaleOmDeltBosted }}
    {{/eq}}
    <td class="ja-nei">
        <h5>{{spørsmål.søkerHarBoddMedAndreForelder.label}}</h5>
        <p>{{spørsmål.søkerHarBoddMedAndreForelder.verdi}}</p>
        {{#eq spørsmål.søkerHarBoddMedAndreForelder.verdi "JA" }}
            <div class="extra-cell-content">
                <h5>{{spørsmål.søkerFlyttetFraAndreForelderDato.label}}</h5>
                <p>{{spørsmål.søkerFlyttetFraAndreForelderDato.verdi}}</p>
            </div>
        {{/eq}}
    </td>
{{/table}}