<section class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[dinlivssituasjon.sidetittel]}}</h3>
    {{#table columns=2}}
        <td>
            <h5>{{spørsmål.årsak.label}}</h5>
            <p>{{spørsmål.årsak.verdi}}</p>
        </td>
        {{#eq sivilstand.verdi "GIFT"}}
            <td>
                <h5>{{spørsmål.separertEnkeSkilt.label}}</h5>
                <p>{{> soknad/ja-nei-språktekst spørsmål.separertEnkeSkilt.verdi}}</p>
                {{#if spørsmål.separertEnkeSkiltUtland}}
                    <div class="extra-cell-content">
                        <h5>{{spørsmål.separertEnkeSkiltUtland.label}}</h5>
                        <p>{{spørsmål.separertEnkeSkiltUtland.verdi}}</p>
                    </div>
                {{/if}}
                {{#if spørsmål.separertEnkeSkiltDato}}
                    <div class="extra-cell-content">
                        <h5>{{spørsmål.separertEnkeSkiltDato.label}}</h5>
                        <p>{{spørsmål.separertEnkeSkiltDato.verdi}}</p>
                    </div>
                {{/if}}
            </td>
        {{/eq}}

        <td>
            <h5>{{spørsmål.harSamboerNå.label}}</h5>
            <p>{{> soknad/ja-nei-språktekst spørsmål.harSamboerNå.verdi}}</p>
            {{#if nåværendeSamboer}}
                {{> soknad-utvidet/samboer nåværendeSamboer.verdi}}
            {{/if}}
        </td>
        <td>
            <h5>{{@root.teksterUtenomSpørsmål.[omdeg.annensamboer.spm]}}</h5>
            {{#if tidligereSamboere.length}}
                <p>{{ @root.teksterUtenomSpørsmål.[felles.svaralternativ.ja] }}</p>
            {{else}}
                <p>{{ @root.teksterUtenomSpørsmål.[felles.svaralternativ.nei] }}</p>
            {{/if}}
        </td>
        {{#each tidligereSamboere as | tidligereSamboer | }}
            <td>
                {{# with (replace @root.teksterUtenomSpørsmål.[pdf.dinlivssituasjon.tidligeresamboer.seksjonstittel] "{x}" "%s") as | fstring |}}
                    <h5>{{stringFormat fstring (add @index 1)}}</h5>
                {{/with}}
                {{> soknad-utvidet/samboer tidligereSamboer.verdi }}
            </td>
        {{/each}}


    {{/table}}
</section>
