<section class="soknad-section">
<h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[dinlivssituasjon.sidetittel]}}</h3>
{{#with spørsmål}}
{{#table}}
<td>
<h5>{{harSamboerNå.label}}</h5>
<p>{{> soknad/ja-nei-språktekst harSamboerNå.verdi}}</p>
{{#if nåværendeSamboer}}
{{> soknad/samboer nåværendeSamboer.verdi}}
{{/if}}
</td>
{{#> soknad/ja-nei erAsylsøker }}{{/soknad/ja-nei}}
{{!-- TODO Fjerne if check når eøs er lansert --}}
{{#eq @root.kontraktVersjon 7}}
{{#> soknad/ja-nei jobberPåBåt oppfølgingCondition="JA" }}
{{/soknad/ja-nei}}
{{#each arbeidsperioderUtland as | arbeidsperiode | }}
<td>
<h5>{{ arbeidsperiode.label }}</h5>
{{> soknad/arbeidsperiode arbeidsperiode.verdi }}
</td>
{{/each}}
{{ else }}
{{#> soknad/ja-nei jobberPåBåt oppfølgingCondition="JA" }}
{{> soknad/oppfolging arbeidsland }}
{{/soknad/ja-nei}}
{{/eq}}
{{#> soknad/ja-nei mottarUtenlandspensjon oppfølgingCondition="JA" }}
{{> soknad/oppfolging pensjonsland }}
{{/soknad/ja-nei}}
{{/table}}
{{/with}}
</section>
