{{#*inline "titteltekst"}}
{{#with @root.teksterUtenomSpørsmål as | titteltekster | }}
{{#with (lookup titteltekster klammeTekstId) as | tekst | }}
<p class="soknad-sporsmal">
{{~ replace tekst "{navn}" navn.verdi ~}}
</p>
{{/with}}
{{/with }}
{{/inline}}

{{#eq spørsmål.erFosterbarn.verdi "JA"}}
{{> titteltekst klammeTekstId="[ombarnet.fosterbarn]" }}
{{/eq}}

{{#eq spørsmål.oppholderSegIInstitusjon.verdi "JA"}}
{{> titteltekst klammeTekstId="[ombarnet.institusjon]" }}
{{#eq spørsmål.institusjonIUtland.verdi "JA"}}
<p class="soknad-sporsmal">{{spørsmål.institusjonIUtland.label}}</p>
{{/eq}}
{{> soknad/sporsmal-med-svar felt=spørsmål.institusjonsnavn svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=spørsmål.institusjonsadresse svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=spørsmål.institusjonspostnummer svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=spørsmål.institusjonOppholdStartdato svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=spørsmål.institusjonOppholdSluttdato svar-type="dato" }}
{{/eq}}

{{#eq spørsmål.boddMindreEnn12MndINorge.verdi "JA"}}
{{> titteltekst klammeTekstId="[ombarnet.opplystatbarnutlandopphold.info]" }}
{{/eq}}
{{#each utenlandsperioder as | utenlandsperiode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=utenlandsoppholdÅrsak svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=oppholdsland svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=oppholdslandFraDato svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=oppholdslandTilDato svar-type="dato" }}
{{/with}}
{{/each}}
{{> soknad/sporsmal-med-svar felt=spørsmål.planleggerÅBoINorge12Mnd svar-type="ja-nei" }}


{{#eq spørsmål.barnetrygdFraAnnetEøsland.verdi "JA"}}
{{> titteltekst klammeTekstId="[ombarnet.barnetrygd-eøs]" }}
{{/eq}}
{{> soknad/sporsmal-med-svar felt=spørsmål.pågåendeSøknadFraAnnetEøsLand svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=spørsmål.pågåendeSøknadHvilketLand svar-type="normal" }}

{{> soknad/sporsmal-med-svar felt=spørsmål.mottarEllerMottokEøsBarnetrygd svar-type="ja-nei" }}
{{#each eøsBarnetrygdsperioder as | eos-barnetrygdsperiode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=mottarEøsBarnetrygdNå svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=barnetrygdsland svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=fraDatoBarnetrygdperiode svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=tilDatoBarnetrygdperiode svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=månedligBeløp svar-type="normal" }}
{{/with}}
{{/each}}

{{#eq @root.søker.spørsmål.borPåSvalbard.verdi "JA"}}
{{#eq spørsmål.harBoddPåSvalbard.verdi "JA"}}
{{> titteltekst klammeTekstId="[ombarnet.svalbard]" }}
{{#each svalbardOppholdPerioder as | svalbardOppholdPeriode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=fraDatoSvalbardOpphold svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=tilDatoSvalbardOpphold svar-type="dato" }}
{{/with}}
{{/each}}
{{/eq}}
{{/eq}}


