<section class="soknad-section">
<h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.omdeg.seksjonstittel]}}</h3>
{{> soknad/sporsmal-med-svar felt=ident svar-type="normal" }}

<div class="soknad-sporsmal-med-svar">
<p class="soknad-sporsmal">{{ statsborgerskap.label }}</p>
<p>
{{#each statsborgerskap.verdi }}
{{~ this}}{{#if @last}}{{else}}, {{/if}}
{{/each}}
</p>
</div>

<div class="soknad-sporsmal-med-svar">
<p class="soknad-sporsmal">{{ sivilstand.label }}</p>
<p>
{{# with (join "felles.sivilstatus.kode" sivilstand.verdi "." prefix='[' suffix=']') as | sivilstandkode | }}
{{ lookup @root.teksterUtenomSpørsmål sivilstandkode }}
{{/with}}
</p>
</div>

<div class="soknad-sporsmal-med-svar">
<p class="soknad-sporsmal">{{ adresse.label }}</p>
{{#if (lookup @root.finnesPersonMedAdressebeskyttelse) }}
<p>{{@root.teksterUtenomSpørsmål.skjermetAdresse}}</p>
{{else}}
{{#if adresse.verdi}}
{{#with adresse.verdi}}
<p>
{{~join adressenavn husnummer husbokstav bruksenhetsnummer " "}}<br/>
{{~join postnummer poststed " "}}
</p>
{{/with}}
{{else}}
{{#if adressebeskyttelse }}
<p>{{teksterUtenomSpørsmål.[omdeg.personopplysninger.adressesperre.alert]}}</p>
{{else}}
<p>{{teksterUtenomSpørsmål.[omdeg.personopplysninger.ikke-registrert.alert]}}</p>
{{/if}}
{{/if}}
{{/if}}
</div>

{{> soknad/sporsmal-med-svar felt=spørsmål.borPåRegistrertAdresse svar-type="ja-nei" }}
</section>

<section class="soknad-section">
{{> soknad/sporsmal-med-svar felt=spørsmål.borPåSvalbard svar-type="ja-nei" }}
{{#each svalbardOppholdPerioder as | svalbardOppholdPeriode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=fraDatoSvalbardOpphold svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=tilDatoSvalbardOpphold svar-type="dato" }}
{{/with}}
{{/each}}
</section>

<section class="soknad-section">
{{> soknad/sporsmal-med-svar felt=spørsmål.værtINorgeITolvMåneder svar-type="ja-nei" }}
{{#each utenlandsperioder as | utenlandsperiode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=utenlandsoppholdÅrsak svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=oppholdsland svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=oppholdslandFraDato svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=oppholdslandTilDato svar-type="dato" }}
{{/with}}
{{/each}}
{{> soknad/sporsmal-med-svar felt=spørsmål.planleggerÅBoINorgeTolvMnd svar-type="ja-nei" }}
</section>
