{{#if mottarPensjonN책.verdi}}
<div class="extra-cell-content">
<h5>{{mottarPensjonN책.label}}</h5>
<p>{{> soknad/ja-nei-spr책ktekst mottarPensjonN책.verdi}}</p>
</div>
{{/if}}
{{#if pensjonsland.verdi}}
<div class="extra-cell-content">
<h5>{{pensjonsland.label}}</h5>
<p>{{pensjonsland.verdi}}</p>
</div>
{{/if}}
{{#if pensjonFra.verdi}}
<div class="extra-cell-content">
<h5>{{pensjonFra.label}}</h5>
<p>{{norwegian-date pensjonFra.verdi}}</p>
</div>
{{/if}}
{{#if pensjonTil.verdi}}
<div class="extra-cell-content">
<h5>{{pensjonTil.label}}</h5>
<p>{{norwegian-date pensjonTil.verdi}}</p>
</div>
{{/if}}