Frå {{duFaar.0.fom}} opphøyrer barnetrygda di fordi:
<ul>
{{#each duFaar.0.begrunnelser}}
<li>{{this}}</li>{{/each}}
</ul>

{{#if hjemler.length}} <br/>Vedtaket er gjort etter barnetrygdlova {{> submaler/hjemler-til-streng }}{{/if}}

{{#if erFeilutbetaling}}
<br>**Feilutbetaling**
<br>Dersom du har fått utbetalt for mykje barnetrygd, vil du få eit eige brev om dette.
{{/if}}

<br>**Du har rett til å klage**
<br>Du kan klage innan seks veker frå den datoen du mottok vedtaket. Du finn skjema og informasjon på nav.no/klage.

<br>**Du har rett til innsyn**
<br>På nav.no/dittnav kan du sjå dokumenta i saka di.

<br>**Har du spørsmål?**
<br>Du finn nyttig informasjon på nav.no/barnetrygd.
<br>Du kan også kontakte oss på 55 55 33 33.
<br>
<br>

<br>Med venleg helsing
<br>{{enhet}}
<br>
<br><div id="hilsen"><span id="saksbehandler">{{saksbehandler}}</span><span id="beslutter">{{beslutter}}</span></div>
<br>
<br>

<br>Vedlegg:
<br>Rettane og pliktene til stønadsmottakaren