<section class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[dinlivssituasjon.sidetittel]}}</h3>
    {{#with spørsmål}}
        {{#table}}
            <td>
                <h5>{{harSamboerNå.label}}</h5>
                <p>{{> soknad/ja-nei-språktekst harSamboerNå.verdi}}</p>
                {{#if nåværendeSamboer}}
                    {{> soknad/samboer nåværendeSamboer.verdi}}
                {{/if}}
            </td>
            {{#> soknad/ja-nei erAsylsøker }}{{/soknad/ja-nei}}
            {{#> soknad/ja-nei jobberPåBåt oppfølgingCondition="JA" }}
            {{/soknad/ja-nei}}
            {{#each arbeidsperioderUtland as | arbeidsperiode | }}
                <td>
                    <h5>{{ arbeidsperiode.label }}</h5>
                    {{> soknad/arbeidsperiode arbeidsperiode.verdi }}
                </td>
            {{/each}}
            {{#> soknad/ja-nei mottarUtenlandspensjon oppfølgingCondition="JA" }}
            {{/soknad/ja-nei}}
            {{#each pensjonsperioderUtland as | pensjonsperiode | }}
                <td>
                    <h5>{{ pensjonsperiode.label }}</h5>
                    {{> soknad/pensjonsperiode pensjonsperiode.verdi }}
                </td>
            {{/each}}
        {{/table}}
    {{/with}}
</section>
