<section class="soknad-section">
    <h3>1337. Din livssituasjon</h3>
    {{#table columns=2}}
        <td>
            <h5>{{ spørsmål.årsak.label}}</h5>
            <p>{{ spørsmål.årsak.verdi}}</p>
        </td>
        <td>
            <h5>{{spørsmål.harSamboerNå.label}}</h5>
            <p>{{spørsmål.harSamboerNå.verdi}}</p>
            <h5>{{nåværendeSamboer.navn.label}}</h5>
            <p>{{nåværendeSamboer.navn.verdi}}</p>
            <h5>{{nåværendeSamboer.ident.label}}</h5>
            <p>{{nåværendeSamboer.ident.verdi}}</p>
            <h5>{{nåværendeSamboer.fødselsdato.label}}</h5>
            <p>{{nåværendeSamboer.fødselsdato.verdi}}</p>
            <h5>{{nåværendeSamboer.samboerFraDato.label}}</h5>
            <p>{{nåværendeSamboer.samboerFraDato.verdi}}</p>
        </td>
        <td>
            <h5>{{ spørsmål.separertEnkeSkilt.label}}</h5>
            <p>{{spørsmål.separertEnkeSkilt.verdi}}</p>
            <h5>{{spørsmål.separertEnkeSkiltUtland.label}}</h5>
            <p>{{spørsmål.separertEnkeSkiltUtland.verdi}}</p>
            <h5>{{spørsmål.separertEnkeSkiltDato.label}}</h5>
            <p>{{spørsmål.separertEnkeSkiltDato.verdi}}</p>
        </td>
    {{/table}}
</section>
