<section class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.hvilkebarn.seksjonstittel]}}</h3>
    {{#each barn}}
        <table>
            <tr>
                {{> soknad/felt-celle navn }}
                {{#neq alder.verdi "UKJENT"}}
                    {{> soknad/felt-celle alder }}
                {{/neq}}
            </tr>

            <tr>
                {{> soknad/felt-celle ident }}
                {{#neq registrertBostedType.verdi "IKKE_FYLT_INN"}}
                <td>
                    <h5>{{ registrertBostedType.label }}</h5>
                    {{#switch registrertBostedType.verdi}}
                        {{#case "REGISTRERT_SOKERS_ADRESSE" }}
                        {{@root.teksterUtenomSpørsmål.[pdf.hvilkebarn.registrert-på-adresse]}}
                        {{/case}}
                        {{#case "REGISTRERT_ANNEN_ADRESSE"}}
                        {{@root.teksterUtenomSpørsmål.[pdf.hvilkebarn.ikke-registrert-på-adresse]}}
                        {{/case}}
                        {{#case "ADRESSESPERRE"}}
                        {{@root.teksterUtenomSpørsmål.[hvilkebarn.barn.bosted.adressesperre]}}
                        {{/case}}
                    {{/switch}}
                </td>
                {{/neq}}
            </tr>
        </table>
    {{/each}}
</section>
