<section class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[velgBarnTittel]}}</h3>
    {{#each barn}}
        {{> soknad/sporsmal-med-svar felt=navn svar-type="normal" }}
        {{> soknad/sporsmal-med-svar felt=alder svar-type="normal" }}
        {{> soknad/sporsmal-med-svar felt=ident svar-type="normal" }}

        {{#neq registrertBostedType.verdi "IKKE_FYLT_INN"}}
            <div class="soknad-sporsmal-med-svar">
                <p class="soknad-sporsmal">{{ registrertBostedType.label }}</p>
                {{#switch registrertBostedType.verdi}}
                    {{#case "REGISTRERT_SOKERS_ADRESSE" }}
                        <p>{{@root.teksterUtenomSpørsmål.[registrertPaaAdressenDin]}}</p>
                    {{/case}}
                    {{#case "REGISTRERT_ANNEN_ADRESSE"}}
                        <p>{{@root.teksterUtenomSpørsmål.[ikkeRegistrertPaaAdressenDin]}}</p>
                    {{/case}}
                    {{#case "ADRESSESPERRE"}}
                        <p>{{@root.teksterUtenomSpørsmål.[registrertMedAdressesperre]}}</p>
                    {{/case}}
                {{/switch}}
            </div>
        {{/neq}}
    {{/each}}
</section>
