{{#*inline "titteltekst"}}
    {{#with @root.teksterUtenomSpørsmål as | titteltekster | }}
        {{#with (lookup titteltekster klammeTekstId) as | tekst | }}
            {{~ replace tekst "{navn}" navn.verdi ~}}
        {{/with}}
    {{/with }}
{{/inline}}

{{#table columns=2}}

    {{#eq spørsmål.oppholderSegIInstitusjon.verdi "JA"}}
        <td>
            <h5>{{> titteltekst klammeTekstId="[ombarnet.institusjon]" }}</h5>
                {{#eq spørsmål.institusjonIUtland.verdi "JA" }}
                    <p>{{spørsmål.institusjonIUtland.label}}</p>
                {{else}}
                    {{> soknad/oppfolging spørsmål.institusjonsnavn }}
                    {{> soknad/oppfolging spørsmål.institusjonsadresse }}
                    {{> soknad/oppfolging spørsmål.institusjonspostnummer }}
                {{/eq}}
            {{> soknad/oppfolging-dato spørsmål.institusjonOppholdStartdato }}
            {{> soknad/oppfolging-dato spørsmål.institusjonOppholdSluttdato }}
        </td>
    {{/eq}}

    {{#eq spørsmål.boddMindreEnn12MndINorge.verdi "JA"}}
        {{#each utenlandsperioder as | utenlandsperiode | }}
            <td>
                <h5>{{ utenlandsperiode.label }}</h5>
                {{> soknad/utenlandsperiode utenlandsperiode.verdi }}
            </td>
        {{/each}}
        {{#if spørsmål.planleggerÅBoINorge12Mnd}}
            <td>
                {{> soknad/oppfolging-ja-nei spørsmål.planleggerÅBoINorge12Mnd }}
            </td>
        {{/if}}
    {{/eq}}

    {{!-- TODO Fjerne if check når eøs er lansert --}}
    {{#eq spørsmål.barnetrygdFraAnnetEøsland.verdi "JA"}}
        {{#eq @root.kontraktVersjon 7}}
            {{#> soknad/ja-nei spørsmål.pågåendeSøknadFraAnnetEøsLand oppfølgingCondition="JA" }}
                {{> soknad/oppfolging spørsmål.pågåendeSøknadHvilketLand }}
            {{/soknad/ja-nei}}
            {{#> soknad/ja-nei spørsmål.mottarEllerMottokEøsBarnetrygd oppfølgingCondition="JA" }}
            {{/soknad/ja-nei}}
            {{#each eøsBarnetrygdsperioder as | eos-barnetrygdsperiode | }}
                <td>
                    <h5>{{ eos-barnetrygdsperiode.label }}</h5>
                    {{> soknad/eos-barnetrygdsperiode eos-barnetrygdsperiode.verdi }}
                </td>
            {{/each}}
        {{ else }}
           {{#> soknad/ja-nei spørsmål.barnetrygdFraAnnetEøsland oppfølgingCondition="JA" }}
                {{> soknad/oppfolging spørsmål.barnetrygdFraEøslandHvilketLand }}
           {{/soknad/ja-nei}}
        {{/eq}}
    {{/eq}}
{{/table}}