<section class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.omdeg.seksjonstittel]}}</h3>
    <table>
        <tr>
            {{> soknad/felt-celle ident}}
            <td>
                <h5>{{statsborgerskap.label}}</h5>
                <p>
                    {{#each statsborgerskap.verdi }}
                        {{~ this}}{{#if @last}}{{else}}, {{/if}}
                    {{/each}}
                </p>
            </td>
        </tr>
        <tr>
            {{# with (join "felles.sivilstatus.kode" sivilstand.verdi "." prefix='[' suffix=']') as | sivilstandkode | }}
                {{> soknad/felt-celle label=sivilstand.label verdi=(lookup @root.teksterUtenomSpørsmål sivilstandkode) }}
            {{/with}}
            <td>
                <h5>{{adresse.label}}</h5>
                {{#with adresse.verdi}}
                    <p>
                        {{~join adressenavn husnummer husbokstav bruksenhetsnummer " "}}<br/>
                        {{~join postnummer poststed " "}}
                    </p>
                {{/with}}
            </td>
        </tr>
        {{#if adresse.verdi.poststed}}
            <tr>
                {{#> soknad/ja-nei spørsmål.borPåRegistrertAdresse}}{{/soknad/ja-nei}}
            </tr>
        {{/if}}
    </table>
</section>

<section class="soknad-section">
    <table>
        {{#with spørsmål}}
            <tr>
                {{#> soknad/ja-nei oppholderSegINorge oppfølgingCondition="NEI" }}
                    {{> soknad/oppfolging oppholdsland }}
                    {{> soknad/oppfolging-dato oppholdslandDato }}
                {{/soknad/ja-nei}}

                {{#> soknad/ja-nei værtINorgeITolvMåneder oppfølgingCondition="NEI" }}
                    {{> soknad/oppfolging-dato komTilNorgeDato }}
                    {{> soknad/oppfolging-dato reistFraNorgeDato }}
                    {{> soknad/oppfolging-ja-nei planleggerÅBoINorgeTolvMnd }}
                {{/soknad/ja-nei}}
            </tr>
        {{/with}}
    </table>
</section>
