<section class="soknad-section">
    <h3>{{section-number}}. Om deg</h3>
    <table>
        <tr>
            {{> soknad/felt-celle ident}}
            <td>
                <h5>{{statsborgerskap.label}}</h5>
                <p>
                    {{#each statsborgerskap.verdi }}
                        {{~ this}}{{#if @last}}{{else}}, {{/if}}
                    {{/each}}
                </p>
            </td>
        </tr>
        <tr>
            {{> soknad/felt-celle sivilstand }}
            <td>
                <h5>{{adresse.label}}</h5>
                {{#with adresse.verdi}}
                    <p>
                        {{~join adressenavn husnummer husbokstav bruksenhetsnummer " "}}<br/>
                        {{~join postnummer poststed " "}}
                    </p>
                {{/with}}
            </td>
        </tr>
    </table>
</section>

<section class="soknad-section">
    <table>
        {{#with spørsmål}}
            <tr>
                {{#> soknad/ja-nei oppholderSegINorge oppfølgingCondition="NEI" }}
                    {{> soknad/oppfolging oppholdsland }}
                    {{> soknad/oppfolging-dato oppholdslandDato }}
                {{/soknad/ja-nei}}

                {{#> soknad/ja-nei jobberPåBåt oppfølgingCondition="JA" }}
                    {{> soknad/oppfolging arbeidsland }}
                {{/soknad/ja-nei}}
            </tr>
            <tr>
                {{#> soknad/ja-nei værtINorgeITolvMåneder oppfølgingCondition="NEI" }}
                    {{> soknad/oppfolging-dato komTilNorgeDato }}
                    {{> soknad/oppfolging planleggerÅBoINorgeTolvMnd }}
                {{/soknad/ja-nei}}

                {{#> soknad/ja-nei mottarUtenlandspensjon oppfølgingCondition="JA" }}
                    {{> soknad/oppfolging pensjonsland }}
                {{/soknad/ja-nei}}
            </tr>
            <tr>
                {{> soknad/ja-nei erAsylsøker }}
            </tr>
        {{/with}}
    </table>
</section>
