{{#if felt.verdi}}
    {{#with felt }}
        <div class="soknad-sporsmal-med-svar">
            <p class="soknad-sporsmal">{{ label }}</p>
            {{#switch svar-type}}
                {{#case "ja-nei"}}
                    {{#eq verdi "VET_IKKE"}}
                        <p>{{@root.teksterUtenomSpørsmål.[jegVetIkke]}}</p>
                    {{/eq}}
                    {{#eq verdi "JA"}}
                        <p>{{@root.teksterUtenomSpørsmål.[ja]}}</p>
                    {{/eq}}
                    {{#eq verdi "NEI"}}
                        <p>{{@root.teksterUtenomSpørsmål.[nei]}}</p>
                    {{/eq}}
                {{/case}}
                {{#case "dato"}}
                    <p>{{norwegian-date verdi}}</p>
                {{/case}}
                {{#case "normal"}}
                    <p>{{verdi}}</p>
                {{/case}}
            {{/switch}}
        </div>
    {{/with}}
{{/if}}