<div class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.vedlegg.seksjonstittel]}}</h3>
    {{#table columns=2}}
        {{#each dokumentasjon }}
            <td>
                <h5>
                    <!-- Eneste måten jeg fant som lot meg putte en java Integer inn i en String på... -->
                    {{#with (replace (replace @root.teksterUtenomSpørsmål.[pdf.vedlegg.nummerering] "{x}" "%s") "{total}" "%s") as | fstring | }}
                        {{stringFormat fstring (add @index 1) dokumentasjon.length}}: {{ dokumentasjonSpråkTittel }}
                    {{/with}}
                </h5>
                <p>
                    {{#if harSendtInn}}
                        {{@root.teksterUtenomSpørsmål.[dokumentasjon.har-sendt-inn.spm]}}
                    {{ else }}
                        {{#with (replace @root.teksterUtenomSpørsmål.[pdf.vedlegg.lastet-opp-antall] "{antall}" "%s") as | fstring | }}
                            {{stringFormat fstring opplastedeVedlegg.length }}
                        {{/with}}
                    {{/if}}
                </p>
            </td>
        {{/each}}
    {{/table}}
</div>