<div class='soknad-section'>
  <h3>{{section-number}}.
    {{@root.teksterUtenomSpørsmål.listeOverVedlegg}}</h3>
  {{#each dokumentasjon}}
    <div class='soknad-sporsmal-med-svar'>
      <!-- Eneste måten jeg fant som lot meg putte en java Integer inn i en String på... -->
      {{#with
        (replace
          (replace @root.teksterUtenomSpørsmål.vedleggXavY '{antall}' '%s')
          '{totalAntall}'
          '%s'
        )
        as |fstring|
      }}
        <p class='soknad-sporsmal'>
          {{stringFormat fstring (add @index 1) dokumentasjon.length}}:
          {{dokumentasjonSpråkTittel}}
        </p>
      {{/with}}
      <p>
        {{#if harSendtInn}}
          {{@root.teksterUtenomSpørsmål.sendtInnTidligere}}
        {{else}}
          {{#with
            (replace
              @root.teksterUtenomSpørsmål.lastetOppAntall '{antall}' '%s'
            )
            as |fstring|
          }}
            {{stringFormat fstring opplastedeVedlegg.length}}
          {{/with}}
        {{/if}}
      </p>
    </div>
  {{/each}}
</div>