<div class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.vedlegg.seksjonstittel]}}</h3>
    {{#each dokumentasjon }}
    <p class="soknad-sporsmal-med-svar">
        <!-- Eneste måten jeg fant som lot meg putte en java Integer inn i en String på... -->
        {{#with (replace (replace @root.teksterUtenomSpørsmål.[pdf.vedlegg.nummerering] "{x}" "%s") "{total}" "%s") as | fstring | }}
            <p class="soknad-sporsmal">
                {{stringFormat fstring (add @index 1) dokumentasjon.length}}: {{ dokumentasjonSpråkTittel }}
            </p>
        {{/with}}
        <p>
            {{#if harSendtInn}}
                {{@root.teksterUtenomSpørsmål.[dokumentasjon.har-sendt-inn.spm]}}
            {{ else }}
                {{#with (replace @root.teksterUtenomSpørsmål.[pdf.vedlegg.lastet-opp-antall] "{antall}" "%s") as | fstring | }}
                    {{stringFormat fstring opplastedeVedlegg.length }}
                {{/with}}
            {{/if}}
        </p>
        </p>
    {{/each}}
</div>