<h3>Vi trenger mer tid til å behandle søknaden om barnetrygd</h3>

<br><span style="color: grey;">*Navn: {{navn}}*</span>
<br><span style="color: grey;">*Fødselsnummer: {{fodselsnummer}}*</span>
<br>
<br>

<br>Vi regner med å behandle søknaden din innen {{fristDato}}.

<br>**Har du spørsmål?**
<br>Du finner nyttig informasjon på nav.no/familie. Du kan også kontakte oss på telefon {{kontaktTelefonnummer}}.

<br> Med vennlig hilsen
<br>{{navnAvsenderEnhet}}
