<section class="soknad-section">
    <h3>{{section-number}}. {{ @root.teksterTilPdf.vedlegg }}</h3>
    {{#each dokumentasjon }}
        <div class="soknad-sporsmal-med-svar">
                <p class="soknad-sporsmal">
                {{ add @index 1 }} {{ @root.teksterTilPdf.av }} {{ dokumentasjon.length }}: {{ dokumentasjonSpråkTittel }}
                </p>
            <p>
            {{#if harSendtInn}}
                {{@root.teksterTilPdf.sendtInnTidligere}}
                {{else}}
                    {{ opplastedeVedlegg.length }}
            {{/if}}
            </p>
        </div>
    {{/each}}
</section>