<section class="soknad-section">
<h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[dinlivssituasjon.sidetittel]}}</h3>
{{#with spørsmål}}
{{> soknad/sporsmal-med-svar felt=årsak svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=separertEnkeSkilt svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=separertEnkeSkiltUtland svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=separertEnkeSkiltDato svar-type="dato" }}

{{> soknad/sporsmal-med-svar felt=harSamboerNå svar-type="ja-nei" }}
{{#if nåværendeSamboer}}
{{> soknad/sporsmal-med-svar felt=nåværendeSamboer.navn svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=nåværendeSamboer.ident svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=nåværendeSamboer.fødselsdato svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=nåværendeSamboer.samboerFraDato svar-type="dato" }}
{{/if}}

<div class="soknad-sporsmal-med-svar">
<p class="soknad-sporsmal">{{ @root.teksterUtenomSpørsmål.[omdeg.annensamboer.spm] }}</p>
{{#if tidligereSamboere.length}}
<p>{{ @root.teksterUtenomSpørsmål.[felles.svaralternativ.ja] }}</p>
{{else}}
<p>{{ @root.teksterUtenomSpørsmål.[felles.svaralternativ.nei] }}</p>
{{/if}}
</div>

{{#each tidligereSamboere as | tidligereSamboer | }}
{{# with
(replace @root.teksterUtenomSpørsmål.[pdf.dinlivssituasjon.tidligeresamboer.seksjonstittel] "{x}" "%s") as | fstring |}}
<p class="periode-tittel">{{stringFormat fstring (add @index 1)}}</p>
{{/with}}
{{> soknad/sporsmal-med-svar felt=tidligereSamboer.navn svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=tidligereSamboer.ident svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=tidligereSamboer.fødselsdato svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=tidligereSamboer.samboerFraDato svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=tidligereSamboer.samboerTilDato svar-type="dato" }}
{{/each}}

{{> soknad/sporsmal-med-svar felt=erAsylsøker svar-type="ja-nei" }}

{{> soknad/sporsmal-med-svar felt=jobberPåBåt svar-type="ja-nei" }}
{{#each arbeidsperioderUtland as | arbeidsperiode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=arbeidsperiodeAvsluttet svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=arbeidsperiodeland svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=arbeidsgiver svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=fraDatoArbeidsperiode svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=tilDatoArbeidsperiode svar-type="dato" }}
{{/with}}
{{/each}}

{{> soknad/sporsmal-med-svar felt=mottarUtenlandspensjon svar-type="ja-nei" }}
{{#each pensjonsperioderUtland as | pensjonsperiode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=mottarPensjonNå svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=pensjonsland svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=pensjonFra svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=pensjonTil svar-type="dato" }}
{{/with}}
{{/each}}

{{/with}}
</section>
