<section class="soknad-section">
<h3>{{section-number}}. Din livssituasjon</h3>
{{#table columns=2}}
<td>
<h5>{{spørsmål.årsak.label}}</h5>
<p>{{spørsmål.årsak.verdi}}</p>
</td>
{{#eq ../søker.sivilstand.verdi "GIFT"}}
<td>
<h5>{{spørsmål.separertEnkeSkilt.label}}</h5>
<p>{{spørsmål.separertEnkeSkilt.verdi}}</p>
{{#if spørsmål.separertEnkeSkiltUtland}}
<div class="extra-cell-content">
<h5>{{spørsmål.separertEnkeSkiltUtland.label}}</h5>
<p>{{spørsmål.separertEnkeSkiltUtland.verdi}}</p>
</div>
{{/if}}
{{#if spørsmål.separertEnkeSkiltDato}}
<div class="extra-cell-content">
<h5>{{spørsmål.separertEnkeSkiltDato.label}}</h5>
<p>{{spørsmål.separertEnkeSkiltDato.verdi}}</p>
</div>
{{/if}}
</td>
{{/eq}}

<td>
<h5>{{spørsmål.harSamboerNå.label}}</h5>
<p>{{spørsmål.harSamboerNå.verdi}}</p>
{{#if nåværendeSamboer}}
{{> soknad-utvidet/samboer nåværendeSamboer.verdi}}
{{/if}}
</td>
<td>
<h5>Har du hatt annen samboer i perioden du søker barnetrygd for?</h5>
{{#if tidligereSamboere.length}}
<p>JA</p>
{{else}}
<p>NEI</p>
{{/if}}
</td>
{{#each tidligereSamboere as | tidligereSamboer | }}
<td>
<h5>Tidligere samboer {{add @index 1}}</h5>
{{> soknad-utvidet/samboer tidligereSamboer.verdi }}
</td>
{{/each}}


{{/table}}
</section>
