Fra {{duFaar.0.fom}} opphører barnetrygden din fordi:
<ul>
{{#each duFaar.0.begrunnelser}}
<li>{{this}}</li>{{/each}}
</ul>

{{#if hjemler.length}} <br/>Vedtaket er gjort etter barnetrygdloven {{> submaler/hjemler-til-streng }}{{/if}}

{{#if erFeilutbetaling}}
<br>**Feilutbetaling**
<br>Dersom du har fått utbetalt for mye barnetrygd, vil du få et eget brev om dette.
{{/if}}

<br>**Du har rett til å klage**
<br>Du kan klage innen seks uker fra den datoen du mottok vedtaket. Du finner skjema og informasjon på nav.no/klage.

<br>**Du har rett til innsyn**
<br>På nav.no/dittnav kan du se dokumentene i saken din.

<br>**Har du spørsmål?**
<br>Du finner nyttig informasjon på nav.no/barnetrygd.
<br>Du kan også kontakte oss på 55 55 33 33.
<br>
<br>

<br>Med vennlig hilsen
<br>{{enhet}}
<br>
<br><div id="hilsen"><span id="saksbehandler">{{saksbehandler}}</span><span id="beslutter">{{beslutter}}</span></div>
<br>
<br>

<br>Vedlegg:
<br>Stønadsmottakerens rettigheter og plikter