{{#> kontantstotte-soknad/seksjon seksjon-nummer=section-number tittel=@root.teksterTilPdf.omDegTittel}}
{{> kontantstotte-soknad/sporsmal-med-svar felt=ident svar-type="normal" }}

<div class="soknad-sporsmal-med-svar">
<p class="soknad-sporsmal">{{ statsborgerskap.label }}</p>
<p>
{{#each statsborgerskap.verdi }}
{{~ this}}{{#if @last}}{{else}}, {{/if}}
{{/each}}
</p>
</div>

{{> kontantstotte-soknad/sivilstand sivilstand }}

<div class="soknad-sporsmal-med-svar">
<p class="soknad-sporsmal">{{ adresse.label }}</p>
{{#if (lookup @root.finnesPersonMedAdressebeskyttelse)}}
<p>{{@root.teksterTilPdf.skjermetAdresse}}</p>
{{else}}
{{#if adresse.verdi}}
{{#with adresse.verdi}}
<p>
{{~join adressenavn husnummer husbokstav bruksenhetsnummer " "}}<br/>
{{~join postnummer poststed " "}}
</p>
{{/with}}
{{else}}
{{#if adressebeskyttelse }}
<p>{{teksterTilPdf.[soekerAdressesperre]}}</p>
{{else}}
<p>{{teksterTilPdf.[ikkeRegistrertAdresse]}}</p>
{{/if}}
{{/if}}
{{/if}}
</div>

{{> kontantstotte-soknad/sporsmal-med-svar felt=borPåRegistrertAdresse svar-type="ja-nei" }}

{{> kontantstotte-soknad/sporsmal-med-svar felt=værtINorgeITolvMåneder svar-type="ja-nei" }}

{{> kontantstotte-soknad/sporsmal-med-svar felt=planleggerÅBoINorgeTolvMnd svar-type="ja-nei" }}

{{> kontantstotte-soknad/sporsmal-med-svar felt=yrkesaktivFemÅr svar-type="ja-nei" }}
{{/kontantstotte-soknad/seksjon}}