{{#if felt.verdi}}
{{#with felt }}
<div class="soknad-sporsmal-med-svar">
<p class="soknad-sporsmal">{{ label }}</p>
{{#switch svar-type}}
{{#case "ja-nei"}}
{{#eq verdi "VET_IKKE"}}
<p>{{@root.teksterTilPdf.[jegVetIkke]}}</p>
{{/eq}}
{{#eq verdi "JA"}}
<p>{{@root.teksterTilPdf.[ja]}}</p>
{{/eq}}
{{#eq verdi "NEI"}}
<p>{{@root.teksterTilPdf.[nei]}}</p>
{{/eq}}
{{/case}}
{{#case "dato"}}
<p>{{norwegian-date verdi}}</p>
{{/case}}
{{#case "normal"}}
<p>{{verdi}}</p>
{{/case}}
{{/switch}}
</div>
{{/with}}
{{/if}}