<h3>Vi har innvilget søknaden din om barnetrygd</h3>


<br><span style="color: grey;">*Fødselsnummer: {{fodselsnummer}}*</span>
<br>
<br>

<br>Du får {{belop}} kroner i måneden i ordinær barnetrygd for barn født
{{fodselsdato}} fra {{startDato}}

<br>**SLIK HAR VI BEREGNET BARNETRYGDEN DIN**

{{#if etterbetaling}}
<br>Etterbetalingen fra {{etterbetalingsmaaned}} er {{etterbetalingsbelop}} kroner, er på kontoen
din innen en uke.
{{/if}}

<br>Barnetrygden er skattefri, og innvilges fra måneden etter at vilkårene er oppfylt.

<br>Satsene for barnetrygd fastsettes årlig av Stortinget, og kan dermed endre seg. Se
satsene nedenfor.

<br>Du kan lese om retten til barnetrygd på nav.no/barnetrygd.

<br>Vedtaket er gjort etter barnetrygdloven §§ 2, 4 og 11.

{{> Sats/template}}
{{> Fellesmal-innvilget/template }}
<br>

<br>SATSENE FOR BARNETRYGD

<br>Satsene fastsettes årlig av Stortinget, og kan dermed endres.

<br>Fra 1. mars 2019 utbetales barnetrygd etter følgende satser:

|                                               |                          |
------------------------------------------------|--------------------------:
Ordinær barnetrygd &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|1 054 kr. måneden pr. barn

<br>I tillegg til ordinær barnetrygd kan det utbetales følgende:

|                                              |                 |
-----------------------------------------------|-----------------:
Utvidet barnetrygd 				               |1 054 kr. måneden
Småbarnstillegg til enslig mor eller far &nbsp;|660 kr. måneden

<br>Til og med 28. februar 2019 blir barnetrygd utbetalt etter følgende satser:

|                                               |                        |
------------------------------------------------|------------------------:
Ordinær barnetrygd &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|970 kr. måneden pr. barn

<br>I tillegg til ordinær barnetrygd kan det utbetales følgende:

|                                              |               |
-----------------------------------------------|---------------:
Utvidet barnetrygd                             | 970 kr. måneden
Småbarnstillegg til enslig mor eller far &nbsp;| 660 kr. måneden


<br>I den vedlagte orienteringen om stønadsmottakerens rettigheter og plikter finner du
informasjon om vilkårene for rett til de forskjellige ytelsene.<br>
<br>
<br>

<br>Vedlegg:<br>
Orientering om rettigheter og plikter NAV 33-00.05
